html, body {
  background: #F9C50A;
}

h1 {
  font-family: 'Racing Sans One', cursive;
}

h2, h3, h4, h5, h6, p {
  font-family: 'Source Code Pro', monospace;
}

.content{
  padding: 10%;
}

.wow{
  float: left;
  margin-left: -10%;
}

.reminder{
  text-transform: uppercase;
  font-size: 9pt;
  line-height: 110%;
}
